!!!
%html{:lang => "en", "ng-app" => "SpotlightClient"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Spotlight"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %meta#csrf{"." => "", "data-csrf" => form_authenticity_token, "ng-controller" => "CsrfCtrl"}/
    / <link href="assets/favicon.ico" rel="shortcut icon">
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Spotlight
          .container.nav-collapse
            %ul.nav
    .container
      .content
        .row
          .span9{"ng-view" => ""}
          .span3
            .well.sidebar-nav
              %h3 Sidebar
              %ul.nav.nav-list
                %li.nav-header Sidebar
                %li= link_to "Link13", "/path1"
                %li= link_to "Link2", "/path2"
                %li= link_to "Link3", "/path3"
      %footer
        %p © Company 2012
</html>

